<div class="note-preview">
  <note-meta [note]="note">
    <favorite-button [note]="note" (onToggle)="onToggleFavorite($event)" class="pull-xs-right">
      {{note.favoritesCount}}
    </favorite-button>
  </note-meta>

  <a [routerLink]="['/notes', note.id]" class="preview-link">
    <h1>{{ note.title }}</h1>
    <p>{{ note.description }}</p>
    <span>Read more...</span>
    <ul class="tag-list">
      <li class="tag-default tag-pill tag-outline" *ngFor="let tag of note.tagList">
        {{ tag }}
      </li>
    </ul>
  </a>
</div>
